.map-container {
  height: calc(100vh - 75px);
  width: 100%;
  position: relative;
}

.map-frame {
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

::ng-deep .pin-heart-icon {
    width: 20px;
    height: 20px;
    transform: rotate(45deg) translateX(-1.5px);
    position: relative;
    top: 2px;
}